@media screen and (max-width:420px) {
    html {
        background-color: rgb(22, 21, 21);
        font-family: 'Ranga';
        font-size: 0.8em;
    }

    header {
        background-image: linear-gradient(red, yellow);
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 150px;
    }

    #tete {
        background-color: #438086;
        border: 1px transparent;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 45px;
        margin: 10px;
    }

    #identite {
        display: flex;
        flex-direction: column;
    }

    #identite p {
        color: white;
        /* background-color: #438086; */
        /* border: 1px transparent; */
        font-family: 'Shanghai';
        font-size: 1.2em;
        font-weight: 400;
        /* margin-right: 3%; */
        margin-left: 2%;
        margin-bottom: 0;
    }

    h3 {
        color: rgb(5, 117, 5);
        font-size: 1.2em;
        font-family: 'Shanghai';
        margin-bottom: -2%;
        margin-top: 1%;
        text-align: center;
    }

    #identite ul {
        list-style-type: none;
        line-height: 15px;
        text-align: left;
        /* margin-left: -10%; */
    }

    #identite li {
        color: black;
    }

    #perm {
        color: white;
        font-family: 'Ranga';
        margin-right: 5%;
        text-align: right;
        width: 100px;
        height: auto;
    }

    #compTrans {
        background-image: linear-gradient(yellow, red);
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 80px;
    }

    #compTrans button {
        color: black;
        background-color: transparent;
        box-shadow: 2px 3px 2px grey;
        border: 1px solid red;
        border-radius: 15%;
        font-size: 1.5em;
        margin-left: 7px;
        margin-top: 5px;
    }

    #compTrans button:active {
        background-color: red;
        color: yellow;
        box-shadow: none;
    }

    #compTrans h3 {
        color: rgb(5, 117, 5);
    }

    .aff {
        color: black;
    }

    #compWeb {
        background-image: linear-gradient(red ,yellow ) ;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 80px;
    }

    #compWeb button {
        color: black;
        background-color: transparent;
        box-shadow: 2px 3px 2px grey;
        border: 1px solid yellow;
        border-radius: 15%;
        font-size: 1.5em;
        margin-left: 7px;
        margin-top: 5px;
    }

    #compWeb button:active {
        background-color: yellow;
        color: red;
        box-shadow: none;
    }

    #compWeb h3 {
        color: rgb(5, 117, 5);
    }

    #comp {
        background-image: linear-gradient(yellow ,red ) ;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 80px;
    }

    #comp button {
        color: black;
        background-color: transparent;
        box-shadow: 2px 3px 2px grey;
        border: 1px solid yellow;
        border-radius: 15%;
        font-size: 1.5em;
        margin-left: 7px;
        margin-top: 5px;
    }

    #comp button:active {
        background-color: red;
        color: yellow;
        box-shadow: none;
    }

    #comp h3 {
        color: rgb(5, 117, 5);
    }

    #experiences {
        background-image: linear-gradient(red, yellow);
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 80px;
    }

    #experiences button {
        color: black;
        background-color: transparent;
        box-shadow: 2px 3px 2px grey;
        border: 1px solid red;
        border-radius: 15%;
        font-size: 1.5em;
        margin-left: 7px;
        margin-top: 5px;
    }

    #experiences button:active {
        background-color: yellow;
        color: red;
        box-shadow: none;
    }

    #experiences h3 {
        color: rgb(5, 117, 5);
    }

    #formations {
        background-image: linear-gradient(yellow,red);
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 80px;
    }

    #formations button {
        color: black;
        background-color: transparent;
        box-shadow: 2px 3px 2px grey;
        border: 1px solid yellow;
        border-radius: 15%;
        font-size: 1.5em;
        margin-left: 7px;
        margin-top: 5px;
    }

    #formations button:active {
        background-color: red;
        color: yellow;
        box-shadow: none;
    }

    #formations h3 {
        color: rgb(5, 117, 5);
    }

    footer {
        background-image: linear-gradient(red, yellow);
        border-radius: 25px;
        border: 2px solid #af0000ff;
        height: 80px;
    }

    img {
        margin-left: 5px;
        margin-top: 5px;
        bottom: 0;
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width:421px){
    * {
    margin: 0;
    padding: 0;
    }

    html {
        background-color: #303030;
        font-family: 'Ranga';
    }

    header {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #tete {
        background-color: #303030;
        border: 1px transparent;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        margin: 10px;
        line-height: 50px;
    }

    #identite {
        display: flex;
        flex-direction: column;
    }

    #identite p {
        color: white;
        font-family: 'Shanghai';
        font-size: 1.6em;
        font-weight: 400;
        margin-left: 2%;
        margin-bottom: 0;
    }

    h3 {
        color: #aa0000;
        font-size: 2em;
        font-family: 'Shanghai';
        margin-bottom: -2%;
        margin-top: 1%;
        text-align: center;
    }

    #identite ul {
        list-style-type: none;
        line-height: 25px;
        text-align: left;
        margin-top: 40px;
    }

    #identite li {
        color: black;
        margin-left: 50px;
        font-size: 1.5em;
    }

    li {
        font-size: 1.5em;
        color: black;
    }

    #perm {
        color: white;
        font-family: 'Ranga';
        margin-right: 120px;
        text-align: right;
        width: 100px;
        height: auto;
    }

    #perm p {
        width: 190px;
    }

    #compTrans {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #compTrans ul {
        column-count: 2;
    }

    .aff {
        display: block;
        color: black;
        margin-left: 50px;
        margin-top: 60px;
    }

    #compWeb {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #compWeb ul {
        column-count: 3;
    }

    button {
        visibility: hidden;
    }

    #comp {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #comp ul {
        column-count: 2;
    }

    #experiences {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #experiences ul {
        column-count: 2;
    }

    #formations {
        background-color: #4f6d7a;
        border: 2px solid #af0000ff;
        border-radius: 25px;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #formations ul {
        column-count: 2;
    }

    footer {
        background-color: #4f6d7a;
        border-radius: 25px;
        border: 2px solid #af0000ff;
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        margin-left: 5px;
        margin-top: 45px;
        bottom: 0;
        width: 140px;
        height: 140px;
    }
}